<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="src/core/config.php" colors="true">
    <php>
        <const name="PHPUNIT_STEAMY_TESTSUITE" value="true"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>