#settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#settings-container form, #settings-container form button {
  margin: 0;
}

#settings-container form, #settings-container article:nth-child(2) > div {
  display: grid;
  place-items: center;
}

button[name="account_delete_submit"] {
  border: 0;
  background-color: red;
}

table button{
  padding:5px;
}

table tr button:first-of-type{
  border: 0;
  background-color: red;
}