.warning {
  /*noinspection CssUnresolvedCustomProperty*/
  color: var(--form-element-invalid-border-color); /* defined in picocss */
}

nav .icon {
  height: 40px;
  width: 40px;
}

#page-footer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

#cart-modal .cart-items {
  height: 200px;
  overflow: auto;
}