.warning {
  /*noinspection CssUnresolvedCustomProperty*/
  color: var(--form-element-invalid-border-color); /* defined in picocss */
}

body > nav {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);
}

body > nav .icon {
  height: 40px;
  width: 40px;
}

/*style logo on left hand side of navbar*/
body > nav > ul li:nth-child(1) > a {
  display: flex;
  gap: 1rem;
}

#page-footer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

#cart-modal .cart-items {
  height: 200px;
  overflow: auto;
}